
.main_container{
  max-width: 1240px;
  display: flex;
  margin: 2em auto ;
  
}
.main_container .grid_section > h1{
  width: fit-content;
}
.grid_parent{
  display: grid;
  grid-template-columns: repeat("auto-fill", minmax(200px, 300px));
}
