// ====================== 🎨 Colors ======================
$color-red: hsl(14, 86%, 42%);
$color-green: hsl(159, 69%, 38%);

$color-rose-50: hsl(20, 50%, 98%);
$color-rose-100: hsl(13, 31%, 94%);
$color-rose-300: hsl(14, 25%, 72%);
$color-rose-400: hsl(7, 20%, 60%);
$color-rose-500: hsl(12, 20%, 44%);
$color-rose-900: hsl(14, 65%, 9%);

// ====================== ✍️ Typography ======================
$font-family-base: "Red Hat Text", "Arial", sans-serif;
$font-size-body: 16px;

// ====================== 📏 Spacing ======================
$spacing-unit: 1em;

@font-face {
  font-family: "Red Hat Text";
  src: url("/fonts/static/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: bolder;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("/fonts/RedHatText-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

body{
 
  background-color: $color-rose-100; 
}

.main_container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 2em;
  background-color: $color-rose-100;
  gap: 3em;
  .grid_section {
    width: 70%;
    h1 {
      margin-left: 2.3rem;
      font-weight: bolder;
      color: $color-rose-900;
    }
  }
  .cart_section {
    flex: 1;
    .cart{
      background-color: white;

    }
  }
}

.grid_parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  font-size: $font-size-body;
  gap: 2em;
  ul{
      margin: 0;
      padding: 0;
  }

  li {
    list-style: none;
    line-height: 1em;
    ;
    .price_container {
      margin-top: 1.7em;
      :nth-child(1) {
        color: $color-rose-300;
      }
      :nth-child(2) {
        color: $color-rose-900;
        font-weight: bolder;
      }
      :last-child {
        color: $color-red;
        font-weight: bold;
      }
    }
  }
  .img_container {
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 10px;
    }
    button {
      margin-top: 0.5em;
      width: 70%;
      background-color: $color-rose-50;
      border-color: $color-rose-300;
      border-radius: 3em;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      gap: 1em;
      cursor: pointer;
      padding:0.5em 0 0.5em 0 ;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;

      p {
        color: $color-rose-900;
        font-weight: bold;
        margin: 0;
      }
      img {
        width: 1.2em;
        height: 1.2em;
      }
    }
    button.cont_button{
      background-color: $color-red;
      border-color: $color-red;
      display: flex;
      justify-content: space-between;
      cursor: no-pointer;
      p{
        color: white;
      }
      img{
        border: 1px solid white;
        border-radius: 100%;
        padding: 3px;
        margin: auto;
      }
      img:hover{
        filter: contrast(0);
      }
    }
    
  }
}


.cart{
  padding: 0 1.3em 1.3em;
  min-width: 20em;
  margin-right: 2em;
    h1{
      color: $color-red;
      font-weight: bolder;

  }
  section {
    padding:  0;
    ul{
      
        padding: 0;
        display: flex;
        flex-direction: column;
        gap:0.1em;
      li{
        list-style: none;
        display: flex;
        margin-left: 0px;
        justify-content: space-between;
        align-items: center;
        line-height: 20px;
        border-bottom: 1px solid $color-rose-100;
        p{
          color: $color-rose-900;
          font-weight: bold;
        }
        .price_cal{
          display: flex;
          align-items: center;
          gap:0.6em; 
          :nth-child(1) {
            color: $color-red;
            font-weight: bold;
          }
          :nth-child(2) {
            color: $color-rose-300;
          }
          :nth-child(3) {
            color: $color-rose-900;
          }
        }
        img{
          border:  solid $color-rose-100;
          padding:0.1em;
          border-radius: 100%;
          cursor: pointer;

        }
        img:hover{
          filter: contrast(0);
          
        }
      }
    }
    .order_total{
      display: flex;
      justify-content: space-between;
      align-items: center;
      :last-child{
        font-weight: 900;
        font-size: x-large;
        color: $color-rose-900;
      }
    }
  }
  button{
    width: 100%;
    border-radius: 30px;
    background-color: $color-red;
    border-color: $color-rose-100;
    color: $color-rose-100;
    height: 2.5em;
    font-size: 1em;
    cursor: pointer;
  }
  button:hover{
    background-color: $color-rose-900;
  }
  .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carbon{
    display: flex;
    width: 100%;
    justify-content: center;
    span{
      font-size: large;
      font-weight: 900;
    }
  }
}




.overlay{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:1;
  .confirm{
    background-color: $color-rose-100;
    width: 30%;
    margin: 0 auto;
    transform: translateY(50%);
    padding: 1.5em;
    border-radius: 10px;
    height: fit-content;
    overflow-y: auto;
    
    .confirm_mark{
      display: flex;

      width: 100%;
      justify-content: space-between;
      align-items: center;

      img{
        cursor: pointer;

      }
      img:hover{
        filter: contrast(0);
      }
    }
          h1{
        color: $color-rose-900;
        font-size: xx-larger;
      }
  }
  ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap:2em;

    li{
      display: flex;
      flex-direction: column;
      gap:3em;
      list-style: none;
      font-size: small;
      :nth-child(1){
        display: flex;
        justify-content: space-between;
        .img_name{
          display: flex;
          align-items: center;
          gap:0.5em;
        }
        
      img{
        width:3em;
        height: 3em;
        border-radius: 5px;
      }
        .cancel{
          width: 16px;
          height: 13x;
          cursor: pointer;
        }
        .cancel:hover{
          filter: contrast(0);
        }
        .name_cal{
          display: flex;
          flex-direction: column;
          line-height: 0.5em; 
          
          .price_cal{
          display: flex;
          align-items: center;
          gap:0.6em; 
          :nth-child(1) {
            color: $color-red;
            font-weight: bold;
          }
          :nth-child(2) {
            color: $color-rose-300;
          }
          :nth-child(3) {
            color: $color-rose-900;
          }
        }
        }
      }
    }
  }
  .order_total{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 2em;
  }

}


// ====================== 📱 Media Queries ======================
@media screen and (max-width: 768px) {
  .img_desktop,
  .img_tablet {
    display: none;
  }
  .main_container{
    width: 100%;
    padding:0;
    gap:0.2em;
    margin: 0;
    flex-direction: column;
    .grid_section{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      
      width: 100%;
      h1{
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: .2em 0
      }
      .grid_parent{
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-grow: 1;
        padding: 0 2em;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        li{

          width: 100%;
        }
      }
    }
  }
  .cart{
    margin: 0;
    min-width: 100%;
    padding: 1em 4em;
    position: fixed;
    
    bottom: 0;
    .confirm{
      position: fixed;
      width: 100%;
      bottom: 12em;
      
      height: 90%;
    }
  }
}

@media (min-width: 768px) {
  .img_mobile,
  .img_desktop {
    display: none;
    
  }
    .grid_section{
      h1{
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: .2em 0
      }
      .grid_parent{
        padding: 0 2em;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        width: 100%;
        li{

          width: 100%;
        }
      }
    }
}

@media (min-width: 1024px) {

  .img_tablet {
    display: none;
  }

  .img_desktop {
    display: block;
  }
}
